body {
    background-color: #eaecef; 
    font-family: 'Verdana', sans-serif; 
    padding-top: 20px;
}

h1, h2 {
    color: #343a40;
}

p, label {
    font-size: 16px;
    color: #495057; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

nav {
    background-color: #343a40;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white; 
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #495057;
    border-radius: 4px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ced4da;
}

table th {
    background-color: #00ff73;
    color: white;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f8f9fa;
}

button, .btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    width: 100px; 
    text-align: center;
}

button.btn-danger {
    background-color: #dc3545;
    font-size: 16px;
}

button.btn-danger:hover {
    background-color: #c82333; 
}

button:hover, .btn:hover {
    background-color: #218838;
}

a.btn.btn-primary.mb-3 {
    min-width: 175px;
}

button.btn.btn-success {
    font-size: 16px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057; 
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da; 
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40; 
    color: white;
    margin-top: 20px;
    border-radius: 4px;
}